{% extends "loadFile/base.html" %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'setting/css/settings.css' %}" />
{#<link rel="stylesheet" href="{% static 'loadFile/css/loadpage.css' %}"> #}
<link type="text/css" href="{% static 'loadFile/css/lawContent.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'loadFile/css/menuBar.css' %}">
{% endblock %}

{% block content %}
<div class="page">
    <div class="header">Вход / выход</div>

    <div class="modalBg" id="modal">
      <div class="modal">
        <span class="modal__close" onclick="modal(false)">✖</span>
        <span class="alertMessage">Внимение!</span>
        <p class="modal__description">
          Данное действие необратимо. Подтвердите действие перед удалением
        </p>

        <div class="deleteData">
          <button class="del files" onclick="deleter(`{% url 'delete_file' pk=request.user.id %}`)">Удалить все загруженные файлы</button>
          <button class="del profile" onclick="deleter(`{% url 'delete_profile' pk=request.user.id %}`)">Удалить профиль</button>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="fileData">
        <div class="mainData">
          <div class="fileData__left">
            <div class="description">
              <p>Всего файлов:</p>
              <p>Загружено:</p>
              <p>Остаток:</p>
            </div>
            <div class="info">
              <p>{{ countFile.allowedFiles }}</p>
              <p>{{ countFile.amount_of_files }}</p>
              <p>{{ total}}</p>
            </div>
          </div>

          <div class="fileData__right">
            <div class="loads">Последняя загрузка</div>
            <div class="description">
              <div class="description__text">
                <div class="details">Тип файла</div>
                <div class="info">json/js</div>
              </div>
              <div class="description__text">
                <div class="details">Дата загрузки</div>
                <div class="info">12.02.23</div>
              </div>
              <div class="description__text btn">
                <button class="file">Просмотреть файл</button>
              </div>
            </div>
          </div>
        </div>

        <div class="loader">
          <div>Загрузка файлов</div>
          <progress max="{{  countFile.allowedFiles }}" value="{{ countFile.amount_of_files }}"></progress>
        </div>
      </div>

      <div class="userData">
        <div class="userData__field">
          Имя
          <div class="textHandler">
            <input type="text" value="{{object.first_name}}" /><button class="saveBtn">
              Сохранить
            </button>
          </div>
        </div>
        <div class="userData__field">
          Фамилия
          <div class="textHandler">
            <input type="text" value="{{object.last_name}}" /><button class="saveBtn">
              Сохранить
            </button>
          </div>
        </div>
        <div class="userData__field">
          Логин
          <div class="textHandler">
            <input type="text" value="{{object.username}}" /><button class="saveBtn">
              Сохранить
            </button>
          </div>
        </div>
        <div class="userData__field">
          Адресс почты
          <div class="textHandler">
            <input type="email" value="{{object.email}}" /><button
              class="saveBtn">
              Сохранить
            </button>
          </div>
        </div>
        <div class="userData__field">
          Новый пароль
          <div class="textHandler">
            <input type="password" value="{{object.password}}" /><button class="saveBtn">
              Сохранить
            </button>
          </div>
        </div>
        <div class="userData__field accessField">
          <form method="post">
            {% csrf_token %}
            <input type="checkbox" name="access" id="access" />
            <button type="submit">Доступ через клиент</button>
          </form>
        </div>
      </div>
      <div class="deleteData">
        <button class="del files" onclick="modal()">
          Удалить все загруженные файлы
        </button>
        <button class="del profile" onclick="modal()">
          Удалить профиль
        </button>
      </div>
    </div>
  </div>

  <script>
    function deleter(url){
    modal()
    window.location.href = url
  }
    function modal(value = true) {
      let modal = document.getElementById('modal');

      if (value) {
        console.log(true);
        modal.style.display = 'flex';
      } else {
        console.log(false);
        modal.style.display = 'none';
        deleteProfile(modal)
      }
    }

  </script>
{% endblock %}