<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'loadFile/css/newsPage.css' %}">
</head>
<body>
<div class="namePage"><h1>Новости сайта</h1></div>
<div class="aggregateNews">
    <div class="New">
        <h2 class="textHeadline">Заголовок</h2>
        <h4 class="contentNews">Привет! Это тест того, чтобы понять, насколько много слов может поместиться в 100 символов. Хмм... Привет! Это тест того, чтобы понять, насколько много слов может поместиться в 100 символов. Хмм... </h4>
    </div>
     <div class="New">

    </div>
     <div class="New">

    </div>
</div>

<script>
    const funcOpenLinck = (url) => {
        window.open(url)
    }
</script>
</body>
</html>