{% extends "loadFile/base.html" %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'loadFile/css/loadpage.css' %}">
<link type="text/css" href="{% static 'loadFile/css/lawContent.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'loadFile/css/menuBar.css' %}">
{% endblock %}
{% block content %}
<div class="loadBackGround">
    <div class="contentLoad">
        <div class="logo"><h1>Файлообменник</h1></div>
        {% if not request.user.is_authenticated %}
        <div class="logo msg"><h3> ⚠️ Для загрузки файла требуется авторизация ⚠️</h3></div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="loWin">
                <p>Выберите файл:</p>
                <label class="plus" for="file"><img src="{% static 'loadFile/images/image.png' %}"></label>
                <input type="file" class="chooseFileBtn" name="file" id="file">
                <input type="submit" class="UpLBtn" value="Загрузить">
            </div>
        </form>
        <div class="lastUpload">Последняя загрузка: {{lastdata.updated_at}}</div>
    </div>
</div>
{% endblock %}