{% extends "loadFile/base.html" %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'loadFile/css/loadpage.css' %}">
<link type="text/css" href="{% static 'loadFile/css/lawContent.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'loadFile/css/menuBar.css' %}">
<link rel="stylesheet" href="{% static 'myloads/css/myloads.css' %}">
{% endblock %}
{% block content %}
    <div class="page">

      <div class="header">Вход / выход</div>

      <div class="content">
        <div class="my-files">
          <div class="my-files__logo">
            <h1>My files</h1>
            <hr />
          </div>

          <div class="my-files__content">
            <h3>Всего файлов: {{count}}</h3>
            <h3>Последняя загрузка: {{lst_file}}</h3>
      
          </div>
        </div>

        <div class="loads">
          {% for x in files %}
          <div class="load">
            <div class="load__left">
              <h3>Дата загрузки: {{x.created_at}}</h3>
              <h3>Просмотры: {{x.seen}}</h3>
              <h3>Скачивания: {{x.downloded}}</h3>
              <h3>Тип данных: {{x.content_type}}</h3>
            </div>
            <div class="load__right">
              <div class="load__right__input">
                <input type="checkbox" onchange="send()"> <p>Запретить просмотр</p>
              </div>
              <button class="load__right__btn delete">Удалить</button>
              <button class="load__right__btn look" onclick="document.location='{% url 'home' %}{{x.slug}}'">Просмотреть</button>
              <button class="load__right__btn download">Скачать</button>
            </div>
          </div>
          {% endfor %}
          

        </div>
      </div>
    </div>
    <script src="kote.js"></script>
{% endblock %}    